
altair==4.1.0
bokeh==2.2.0
cymem==2.0.5
datasets==1.7.0
gensim==4.0.1
huggingface-hub==0.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.4.2
matplotlib-inline==0.1.2
pandas==1.2.4
PyYAML==5.4.1
scikit-learn==0.24.2
scipy==1.6.3
selenium==3.141.0
sentence-transformers==1.2.0
setuptools==57.0.0
spacy==3.0.6
streamlit==0.82.0
streamlit-bokeh-events==0.1.2
tensorflow==2.5.0
transformers==4.6.1
umap-learn==0.5.1
whatlies==0.6.3
numpy
whatlies[tfhub]
wordcloud